
@{
    ViewBag.Title = "BDAnh";
}

<div class="breadcrumb">
    <a class="cate" href="">bóng đá anh</a>
</div>
<div data-track="|hotnews">
    <div class="rank1-stories">
        @foreach (var item in ViewBag.RSS)
        {
            <div class="story" data-track="|index0">
                <div class="story__thumb">
                    <a href="@item.Link" target="_blank">
                        <img src="@Html.Raw(item.Description)" alt="@Html.Raw(item.Title)">
                    </a>
                </div>
                <h4 class="story__heading">
                    <a href="@item.Link" title="@Html.Raw(item.Title)">
                        @Html.Raw(item.Title)
                    </a>
                </h4>
                <div class="story__meta">
                    <a href="@item.Link" class="source">@item.Category</a>
                    <time class="time friendly" datetime="@item.PubDate">@item.PubDate</time>
                    <a href="news-details.html" class="relate">21210 liên quan</a>
                </div>
            </div>
            break;
        }

    </div>
    <div class="rank2-stories">
        @{
            int counter = 0;
        }
        @foreach (var item in ViewBag.RSS)
        {
            if (counter < 3)
            {
                <div class="story is-first" data-track="|index1">
                    <div class="story__thumb">
                        <a href="@item.Link" target="_blank">
                            <img src="@Html.Raw(item.Description)" alt="@Html.Raw(item.Title)">
                        </a>
                    </div>
                    <h4 class="story__heading">
                        <a href="@item.Link" title="@Html.Raw(item.Title)">
                            @Html.Raw(item.Title)
                        </a>
                    </h4>
                    <div class="story__meta">
                        <a href="@item.Link" class="source">@item.Category</a>
                        <time class="time friendly" datetime="@item.PubDate">1 giờ</time>
                    </div>
                </div>
                counter++;
            }
        }


    </div>
</div>
<div class="timeline loadmore" data-track="|timeline">
    @foreach (var item in ViewBag.RSS)
    {
        if (counter < 20)
        {
            <div class="story" data-track="|index0">
                <div class="story__thumb">
                    <a href="@item.Link" target="_blank">
                        <img src="@Html.Raw(item.Description)" alt="@Html.Raw(item.Title)">
                    </a>
                </div>
                <h4 class="story__heading">
                    <a href="@item.Link" title="@Html.Raw(item.Title)" target="_blank">@Html.Raw(item.Title)</a>
                </h4>
                <div class="story__meta">
                    <a class="source" href="@item.Link">@item.Category</a>
                    <time class="time friendly" datetime="">@Html.Raw(item.PubDate)</time>
                    <a class="relate" href="">1143 liên quan</a>
                </div>
            </div>
        }
    }
</div>

